{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{asset('apple-touch-icon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/body.css')}}"/>
{% endblock %}

{% block body %}

    <div id="container">
        <div id="header">
        </div>
        <div id="content">
            <table width="100%" height="100%" align="center">
                <tr>
                    <h2> Backend Exercise </h2>
                </tr>
                <tr> <p>For checking REST end points :GET {{"/user/{user_id}/conversation/{conversation_id}" }}"</p></tr>
                <tr> <p> Example:<a href="/user/2/conversation/1">/user/2/conversation/1</a></tr>
                <tr> <p> And POST(sender_id=?, receiver_id=?, text=?):"/conversation/{conversation_id}/message"</p></tr>
                <tr> <form action="/conversation/2/message" method="post">
                        <input type="number" name="sender_id" value="2">
                        <input type="number" name="receiver_id" value="1">
                        <input type="text" name="text" value="test message">
                        <input type="submit" value="Send">
                    </form></tr>
                <tr> <h2> Use the any REST client (i used Postman for chrome, add as extensions)</h2></tr>
                <tr> <h2> Postman link:https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop</h2></tr>
                <tr> <p>Installation: copy folder with project, install symfony follow links: </p></tr>
                <tr> <p>http://symfony.com/doc/current/book/installation.html </p></tr>
                <tr> <p>run php bin/console server:run in project folder</p>  </tr>
                <tr> <p>Need to install dataBASE settings in file : chatapp/app/config/parameters.yml -> change follow your Mysql configuration.</p>  </tr>
            </table>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script src='{{asset('js/jquery-2.2.1.js')}}'></script>
{% endblock %}



